<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site is created by Zain Malik. It uses data from mapbox.net and darksky.net</p>
            <img class="portrait" src="./img/ESahbzBU8AAME-g.png">
        </div>
        {{>footer}}
    </body>
</html>